<div class="span3">
  <div class="well sidebar-nav">

    <% if user_signed_in? %>
      <h3><%= current_user.account %></h3>
      <ul class="nav nav-list">
        <li><%= link_to "ログアウトする", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% end %>

  </div><!--/.well -->
</div><!--/span-->

<div class="span6">

  <div class="page-header">
    <h1>Roomを選択</h1>
  </div>
  <table class="table table-striped">
    <% current_user.rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= link_to "質問する", new_user_room_question_path( current_user.id, room.id ) %></td>
        <td><%= link_to "質問の一覧を見る", user_room_questions_path( current_user.id, room.id ) %></td>
      </tr>
    <% end %>
  </table>

</div>

<div class="span3"></div>
