<div class="span3">
  <h2>お試しでご利用したい方はこちら</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.hidden_field :account, :value=>'guest' %>
    <%= f.hidden_field :password, :value=>'guest!' %>
    <%= f.submit "サンプルを確認する", :class => 'btn btn-info'  %>
  <% end %>
</div>
<div class="span6">

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <div class="control-group">
      <%= f.label :account %>
      <div class="controls">
        <%= f.text_field :account, :autofocus => true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password %>
      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>
    <% if devise_mapping.rememberable? -%>
      <label class="checkbox">
        <%= f.check_box :remember_me %><%= f.label :remember_me %>
      </label>
    <% end -%>
    <br />
    <br />
    <%= f.submit "ログインする", :class => 'btn btn-info'  %>
  <% end %>

</div>
<div class="span3"></div>
