<div class="span2">
</div>

<div class="span4">
  <div class="hero-unit">
    <h1>Qoom</h1>
    <h4>ミーティングでより良い時間を過ごすために、<br/>
    気軽に質問してみませんか？</h4>
  </div>
</div>
<div class="span3">
  <div class="login-unit">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div class="control-group">
        <div class="controls">
          <%= f.text_field :account, :placeholder => "アカウント", :autofocus => true %>
          <%= f.password_field :password, :placeholder => "パスワード" %>
          <% if devise_mapping.rememberable? -%>
            <label class="checkbox">
              <%= f.check_box :remember_me %><%= f.label :remember_me %>
            </label>
          <% end -%>
        </div>
      </div>
      <%= f.submit "ログイン", :class => 'btn btn-info'  %>
    <% end %>
  </div>

  <div class="login-unit">
    <h4>新しくアカウントを作成</h4>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="control-group">
        <div class="controls">
          <%= f.text_field :account, :placeholder => "アカウント" %>
          <%= f.password_field :password, :placeholder => "パスワード" %>
          <%= f.password_field :password_confirmation, :placeholder => "パスワード（確認用）" %>
        </div>
      </div>

      <%= f.submit "アカウントを作成", :class => 'btn btn-info'  %>
    <% end %>
  </div>

</div>
<div class="span3">
</div>
